.eocdbr {
font: sans-serif;
}

th.eocdbr {
font-size: 14px;
font-weight: 600;
text-align: left;
width: 100px;
}

label.eocdbr {
text-align: left;
width: 100px;
display: inline-block;
}

td.eocdbr {
text-align: left;
width: 200px;
}

select.eocdbr {
text-align: left;
width: 200px;
}

input.eocdbr[type="text"]{
text-align: left;
width: 400px;
}

table.eocdbr {
width: 450px;
}

tr.highlight {
	background-color:deepskyblue;
}
